html {
    background-color: #bbb;
}
body {
    padding: 0px;
    margin: 0px;
}

.content {
    margin: 8px;
}

.nav a.active {
    color: black;
}


input[type="text"], input[type="password"], textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    font-family: inherit;
    font-size: inherit;
}
input[type="text"]:hover
, input[type="text"]:focus
, input[type="password"]:hover
, input[type="password"]:focus
, textarea:hover
, textarea:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: border 500ms ease-in-out;
}


.error {
    color: red;
    font-weight: bold;
}

.protoPreview {
    overflow: hidden;
}


.input label{
    font-weight: bold;
}
.input {
    margin-bottom: 0.5em;
}

.input input[type="text"], .input input[type="password"] {
    min-height: 30px;
    padding: 0 5px;
}

.input input[type="text"], .input input[type="password"], textarea {
    border-radius: 3px;
}

.inputWhiteBox input {
    background-color: #f5f5f5
}

.inputsGreyBox {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2)
}


/* Undo some of the styles from style.css 
   TODO: Consolidate client/client.css and client/style.css
*/
.userID, .item .timestamp {
    /* TODO: a way to ref this value from html? */
	font-family: "Noto Sans", sans-serif;
    border: 0px;
    background-color: transparent;
    color: black;
    padding: 0px;
}

/* In the client, an .item has two parts, a .header and a .body */
.item {
    padding: 0px;
    background-color: transparent;
    display: flex;
    flex-direction: column;

    --header-color: #eee;
}

.item .header {
    display: flex;
    background-color: var(--header-color);
    align-items: center;

    padding: 0.2rem 1rem;
    border-radius: 20px 20px 0 0;
    gap: 0.3rem;
}

.item .body > h1 {
    font-size: 1.5em;
}

.item .body > h2 {
    font-size: 1.3em;
}


.item .header .text > * {
    display: inline-block;
}


.item .body, .pageHeading {
    background-color: white;
    border-top: 0px solid white;
    padding: 1rem;
    border-radius: 20px;
    flex-grow: 1;
    min-height: 2em;
}

.item .body {
    /** Rely on first/last child for vertical padding here: */
    padding: 0 1rem;
    /* Keep margins from escaping. See: https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Block_formatting_context */
    display: flow-root;
}

.item .body > *:first-child {
    margin-top: 1rem;
}

.item .body > *:last-child {
    margin-bottom: 1rem;
}


.item .header + .body, .item .inset + .body {
    border-radius: 0 0 20px 20px;
}

.item .header .text {
    /* So that the arrow is at the far right */
    flex-grow: 1;
}

.item .inset {
    /* Same as header. TODO: CSS variable? */
    background: var(--header-color);
    display: block;
    padding: 1rem;
    box-shadow: inset 0px 9px 11px -5px rgb(0 0 0 / 13%), inset 0px -6px 5px -5px rgb(0 0 0 / 7%);
}





a:visited.userID, a:link.userID {
    color: black;
    font-weight: bold;
}
.item  a:link.timestamp, .item  a:visited.timestamp {
    color: black;
    font-weight: normal;
}

/* TODO: Why is this necessary? Doesn't inherit a:hover? */
a:hover.userID, .item a:hover.timestamp  {
    color: #88f;
}