{# 
    Used on the home page to display posts from multiple users.
    Also used to display posts from multiple users in a single users's feed.
#}
{% extends "page.html" %}

{% block body %}

<div class="items">
{%- for display_item in items -%}
    {%- let item = display_item.item() -%}
    {%- let row = display_item.row() -%}
    {%- let uidz = row.item.user.to_base58() -%}
    {%- let signature = row.item.signature.to_base58() -%}
    {%- let post = item.get_post() -%}
    
    <div class="item post">
        {% if post.get_title().len() > 0 %}<h1 class="title">{{ post.get_title() }}</h1>{% endif %}
        {% if show_authors -%}
            <div class="userInfo"><a href="/u/{{ uidz }}/" class="userID">@{{ display_item.display_name() }}</a></div>
        {%- endif %}
        <div class="timestamp"><a href="/u/{{ uidz }}/i/{{ signature }}/">{{ 
            item.get_timestamp_ms_utc() | with_offset(item.get_utc_offset_minutes())
        }}</a></div>
        {{ post.get_body()|markdown_with(row.item.user, row.item.signature)|safe }}
    </div>
{% endfor -%}

{% match display_message -%}
    {% when Some with (display_message) %}
    <div class="item">
        <p>{{display_message}}</p>
    </div>
    {%- else -%}
{%- endmatch %}


</div>

{% endblock %}