*
{
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

html
{
	background: #eee;
	font-family: "Noto Sans", sans-serif;
}

a:visited, a:hover, a:link
{
	color: #aaa;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	color: #88f;
}

/** This style sheet is designed for a main piece of content
which MAY have a left-hand nav preceding it. */



body
{
	padding: 0px;
	margin: 0px;
}

/* Flexible left-hand/top nav. */
.nav {
	padding: 1em;
	padding-top: 3em;
	margin: 1em;
	word-break: break-word;
}

.nav > *
{
	display: block;
	overflow: auto;
}

.nav > *:not(:first-child) {
	margin-top: 0.5em;
}

.item > * {
	margin: 0;
}

.item > *:not(:first-child) {
	margin-top: 1em;
}

.item pre
{
	display: block;
	border: 2px solid #ddd;
	background: #eee;
	padding: 0.5em;
	overflow-x: auto;
	transition: box-shadow 1s ease-in-out 0s;
}


/* Nav floats left */
@media (min-width: 55em) {
	.nav-layout-container {
		display: flex;
		flex-direction: horizontal;
	}
	
	.nav-container {
		min-width: 10em;
		max-width: 20%;
		margin: 0;
		padding: 0;
	}

	.nav {
		margin-right: 0;
		position: sticky;
		top: 1em;
	}

	.nav a, .nav div {
		text-align: right;
	}

	.items {
		flex-grow: 10;
		min-width: 0;
	}
}

/* Show wide code: */
@media (min-width: 90em) {
	.item pre {
		border-radius: 5px;
		min-width: 100%;
		width: max-content;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	}
}


.item, .nav {
	padding: 1em;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	word-wrap: break-word;
}


/* Post, reply, etc. */
.item {
	margin: 1em;
	max-width: 55em;
}

/** Things like H1s like to add their own margins, but it doesn't make sense
as the first item in the content. */
.item > *:first-child
{
	margin-top: 0px;
}

.item .userInfo, .item .timestamp {
	margin-top: 0;
}



blockquote
, blockquote blockquote blockquote blockquote blockquote
{
	border-left: 4px solid #eee;
	padding-left: 1em;
	margin-left: 1em;
}

blockquote blockquote
{
	border-left: 4px dotted #eee;
}

blockquote blockquote blockquote
{
	border-left: 4px dashed #eee;
}

blockquote blockquote blockquote blockquote
{
	border-left: 2px dotted #ddd;
}


.item img {
	display: block;
	max-width: 100%;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

/* Always comes before the timestamp, so bottom margin doesn't make sense. */
.item .title {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.item .timestamp {
	color: grey;
	font-family: monospace;
}

.userID, .signature {
    font-family: monospace;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-left: 0.25em;
	padding-right: 0.25em;
	word-wrap: anywhere;
}
