*
{
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

html
{
	background: #eee;
	font-family: "Noto Sans", sans-serif;
}

a:visited, a:hover, a:link
{
	color: #aaa;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	color: #88f;
}

/** This style sheet is designed for a main piece of content
which MAY have a left-hand nav preceding it. */



body
{
	padding: 0px;
	margin: 0px;
	/** display: table allows vertical-align: top to work for blocks. */
	display: table;
	vertical-align: top;
	/** Also requires width otherwise tries to make a small table: */
	width: 100%;
}

/* Flexible left-hand nav. */
.nav {
	padding: 1em;
	padding-top: 3em;
}

.nav > *
{
	display: block;
	overflow: auto;
}

.nav > *:not(:first-child) {
	margin-top: 0.5em;
}


/* Nav floats left */
@media (min-width: 30em) {
	.nav {
		float: left;
		min-width: 10em;
		max-width: 20%;
		margin: 0px;
		padding-right: 0px; /* redundant w/ content margin. */

	}

	.nav a, .nav div {
		text-align: right;
	}
}

.item, .nav {
	margin: 1em;
	padding: 1em;
	background: #fff;
	border-radius: 20px;
	box-shadow: 10px 10px 5px #ddd;
}

/* Post, reply, etc. */
.item {
	overflow: auto;
}

/** Things like H1s like to add their own margins, but it doesn't make sense
as the first item in the content. */
.item *:first-child
{
	margin-top: 0px;
}


.item + .item
{
	padding-top: 20px;
	margin-top: 20px;
	border-top: 6px solid #eee;
}

pre code
{
	display: block;
	border: 2px solid #ddd;
	background: #eee;
	padding: 0.5em;
	overflow-x: auto;
}

blockquote
, blockquote blockquote blockquote blockquote blockquote
{
	border-left: 4px solid #eee;
	padding-left: 1em;
	margin-left: 1em;
}

blockquote blockquote
{
	border-left: 4px dotted #eee;
}

blockquote blockquote blockquote
{
	border-left: 4px dashed #eee;
}

blockquote blockquote blockquote blockquote
{
	border-left: 2px dotted #ddd;
}


.item img {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

/* Always comes before the timestamp, so bottom margin doesn't make sense. */
.item .title {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.item .timestamp {
	color: grey;
	font-size: 0.8em;
}

.userID {
    font-family: monospace;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
