{% extends "page.html" %}

{% block body %}

<div class="nav">
    <a href="/">Home</a>
    <a href="https://www.google.com/">Google</a>
    <div>Some exmaple test. Woo.</div>
</div>

{%- for (row, item) in posts -%}
{%- let userID = row.user.to_base58() -%}
{%- let signature = row.signature.to_base58() -%}
{%- let post = item.get_post() -%}
{%- let title = post.get_title() -%}

<div class="item post">
    {% if title.len() > 0 %}<h1 class="title">{{ title }}</h1>{% endif %}
    <div class="timestamp"><a href="/u/{{ userID }}/i/{{ signature }}/">{{ item.get_timestamp_ms_utc() }}</a></div>
    {{ post.get_body() | markdown | safe }}
</div>
{% endfor %}

{% endblock %}