{% extends "page.html" %}

{% block title %}Login{% endblock %}

{% block content %}
{% match logged_in_pkey %}
{% when Some with (pkey) %}
    <p>You are already logged in as <span class="userID">{{ pkey }}</span>.
        Would you like to <a href="/logout">log out?</a>
    </p>
{% when None %}
    <form method="POST" action="/login" accept-charset="utf-8">
        Secret key: <input type="text" name="secret_key"/>
        <br><input type="submit" value="Log in"/>
    </form>

    <p>Alternatively, you can also <a href="/create_id">Create a new identity</a>.</p>
{% endmatch %}
{% endblock %}