{# Show a single post by a user. #}
{% extends "page.html" %}

{% block title %}
{%- if title.len() > 0 -%}
    {{ display_name}}: {{ title }}
{%- else -%}
    {{ display_name }}
{%- endif -%}
{% endblock %}

{% block head %}
    {#
        4 required: title, type, url, image.
        see: https://ogp.me/
    #}
    {% let has_title = title.trim().len() > 0 %}
    {% let has_name = display_name.trim().len() > 0 %}

    {%- if has_title -%}
        <meta property="og:title" content="{{ title }}" />
    {%- else if has_name -%}
        <meta property="og:title" content="Post by {{ display_name}}" />
    {%- else -%}
        <meta property="og:title" content="A Post" />
    {%- endif -%}

    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{meta.url}}" />
    {% for image in meta.images %}
        <meta property="og:image" content="{{image.url}}" />
        {% if image.alt.is_some() %}
            <meta property="og:image:alt" content="{{image.alt.as_ref().unwrap()}}" />
        {% endif %}
    {% endfor %}

    {% if meta.description.is_some() %}
        <meta property="og:description" content="{{meta.description.as_ref().unwrap()}}" />
    {% endif %}

    {# TODO: Make this something site admins can set? #}
    {% if has_name && has_title %}
        {# note: If we don't have a title, the name was already displayed above #}
        <meta property="og:site_name" content="FeoBlog: {{display_name}}" />
    {% else %}
        <meta property="og:site_name" content="FeoBlog" />
    {% endif %}

    <meta name="twitter:card" content="summary" />

    {# TODO: Article published time. #}

{% endblock %}

{% block body %}

<div class="items">
    <div class="item post">
        {% if title.len() > 0 %}<h1 class="title">{{ title }}</h1>{% endif %}
        <div class="timestamp"><a href="/u/{{user_id.to_base58()}}/i/{{signature.to_base58()}}/">{{ 
            timestamp_utc_ms|with_offset(utc_offset_minutes)
        }}</a></div>
        {#  #}
        {{ text|markdown_with(user_id, signature)|safe }}
    </div>

    {# Comments are not shown here. Use the web (2.0) client to render and interact with them. #}
</div>

{% endblock %}