{# Show the user's profile. #}
{% extends "page.html" %}

{% block title %}Profile: {{ display_name }}{% endblock %}

{% block body %}

<div class="items">
    {# {%- let timestmap = with_offset(&timestamp_utc_ms, &utc_offset_minutes) -%} #}
    {% let timestamp = "timestamp" %}
    <div class="item post">
        {% if display_name.len() > 0 %}<h1 class="title">{{ display_name }}</h1>{% endif %}
        <div class="timestamp"><a href="/u/{{user_id.to_base58()}}/i/{{signature.to_base58()}}/">{{ 
            timestamp_utc_ms|with_offset(utc_offset_minutes)
        }}</a></div>
        {#  #}
        {{ text|markdown_with(user_id, signature)|safe }}


    </div>
    <div class="item post">
        Following {{follows.len()}} users
        <ul>
        {%- for follow in follows -%}
            {% if follow.display_name.len() > 0 %}
                <li><a href="/u/{{ follow.user_id.to_base58() }}/">{{ follow.display_name}}</a></li>        
            {% else %}
                <li><a href="/u/{{ follow.user_id.to_base58() }}/">{{ follow.user_id.to_base58() }}</a></li>
            {% endif %}
        {%- endfor -%}
        </ul>

        {# Note: We don't show who follows this user, because that could allow spam content to show up here. #}
    </div>
</div>

{% endblock %}