html {
    background-color: #bbb;
}
body {
    padding: 0px;
    margin: 0px;
}

.content {
    margin: 8px;
}

.nav a.active {
    color: black;
}

@media (min-width: 70em) {
    .dualPaneEditor {
        display: inline-grid;
        width: 100%;
        /* an .item has max-width 55em. +1em grid gap */
        max-width: 111em;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        align-items: start;
        padding: 1em;
    }
    .dualPaneEditor > * {
        margin: 0px;
    }
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    font-family: inherit;
    font-size: inherit;
}
input:hover, input:focus, textarea:hover, textarea:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: border 500ms ease-in-out;
}


.error {
    color: red;
    font-weight: bold;
}

.protoPreview {
    overflow: hidden;
}


.input label{
    font-weight: bold;
}
.input {
    margin-bottom: 0.5em;
}

.input input[type="text"], .input input[type="password"] {
    min-height: 30px;
    padding: 0 5px;
}

.input input[type="text"], .input input[type="password"], textarea {
    border-radius: 3px;
}

.inputWhiteBox input {
    background-color: #f5f5f5
}

.inputsGreyBox {
    margin-bottom: 1em;
    padding: 1em;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.2)
}


/* Undo some of the styles from style.css 
   TODO: re-unify these looks?
*/
.userID, .item .timestamp {
    /* TODO: a way to ref this value from html? */
	font-family: "Noto Sans", sans-serif;
    border: 0px;
    background-color: transparent;
    color: black;
    padding: 0px;
}

/* In the client, an .item has two parts, a .header and a .body */
.item {
    padding: 0px;
    background-color: transparent;
}

.item .header {
    /* border: 1px solid red; */
    display: flex;
    background-color: #eee;
    align-items: center;

    padding: 0.2rem 1rem;
    border-radius: 20px 20px 0 0;
}


.item .header .text > * {
    display: inline-block;
}


.item .body {
    background-color: white;
    border-top: 0px solid white;
    padding: 1rem;
    border-radius: 20px;
}

.item .header + .body {
    border-radius: 0 0 20px 20px;
}

.item .body > *:first-child {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.item .body > *:last-child {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

a:visited.userID, a:link.userID {
    color: black;
    font-weight: bold;
}
.item  a:link.timestamp, .item  a:visited.timestamp {
    color: black;
    font-weight: normal;
}

/* TODO: Why is this necessary? Doesn't inherit a:hover? */
a:hover.userID, .item a:hover.timestamp  {
    color: #88f;
}